{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "browsers": ["last 2 versions", ">= 5% in KR"] } }
    ],
    "@babel/react"
  ]
}

//babel(바벨)로 컴파일 할 때, target을 지정하였습니다. 브라우저의 상위 버전 두개(예: IE 11, 10)와 한국(KR)에서 5% 이상의 점유율을 가지고 있는 브라우저에 대응하여 컴파일되도록 설정하였습니다. 또한 "@babel/react"을 통해 React(리액트)도 컴파일될 수 있도록 설정하였습니다.
